@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=My+Soul&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

:root {
  --color-blue-gray-dark: #516a85;
  --color-gray-dark: #4b5563;
  --color-gray-medium: #9ca3af;
  --color-gray-light: #d1d5db;
  --color-gray-muted: #757575;
  --color-black-light: #333333;
  --color-yellow: #f2c94c;
  --color-black-dark: #292d32;
  --color-gray-extra-light: #f4f5f6;
  --color-green-dark: #289242;
  --color-gray-deep-dark: #23262f;
  --color-red: #e66a63;
  --color-gray-ultra-light: #e6e8ec;
  --color-navy-dark: #0f182e;
  --color-green-bright: #219653;
  --color-pink-light: #fff4f4;
  --color-navy-deep: #013258;
  --color-gray-charcoal: #454343;
  --color-white-pure: #fefdfd;
  --color-gray-muted-dark: #6c7278;
  --color-gray-silver: #c7c9cb;
  --color-gray-soft: #8e8e93;
  --color-gray-cloud: #cdd4dc;
  --color-black-deep: #242424;
  --color-black-pure: #1e1e1e;
  --color-gray-cool: #b4bfca;
}

@theme inline {
  --color-blue-gray-dark: var(--color-blue-gray-dark);
  --color-gray-dark: var(--color-gray-dark);
  --color-gray-medium: var(--color-gray-medium);
  --color-gray-light: var(--color-gray-light);
  --color-gray-muted: var(--color-gray-muted);
  --color-black-light: var(--color-black-light);
  --color-yellow: var(--color-yellow);
  --color-black-dark: var(--color-black-dark);
  --color-gray-extra-light: var(--color-gray-extra-light);
  --color-green-dark: var(--color-green-dark);
  --color-gray-deep-dark: var(--color-gray-deep-dark);
  --color-red: var(--color-red);
  --color-gray-ultra-light: var(--color-gray-ultra-light);
  --color-navy-dark: var(--color-navy-dark);
  --color-green-bright: var(--color-green-bright);
  --color-pink-light: var(--color-pink-light);
  --color-navy-deep: var(--color-navy-deep);
  --color-gray-charcoal: var(--color-gray-charcoal);
  --color-white-pure: var(--color-white-pure);
  --color-gray-muted-dark: var(--color-gray-muted-dark);
  --color-gray-silver: var(--color-gray-silver);
  --color-gray-soft: var(--color-gray-soft);
  --color-gray-cloud: var(--color-gray-cloud);
  --color-black-deep: var(--color-black-deep);
  --color-black-pure: var(--color-black-pure);
  --color-gray-cool: var(--color-gray-cool);
}

@theme {
  --font-poppins: "Poppins", serif;
  --font-manrope: "Manrope", serif;
  --font-jakarta: "Plus Jakarta Sans", serif;
  --font-soul: "My Soul", serif;
  --font-inter: "Inter", serif;
  --font-sora: "Sora", serif;
}

.mobile-layout {
  @apply w-full min-h-svh max-w-[420px] mx-auto relative font-manrope;
  background: linear-gradient(
    347.99deg,
    var(--color-gray-cloud) 0%,
    #ffffff 100%
  );
}

.splash-screen {
  @apply fixed inset-0 w-full h-full bg-white place-items-center grid;
}

.login-form {
  @apply w-full py-[16px] bg-white rounded-2xl space-y-[20px] px-[24px];
}

.login-form .login-btn {
  @apply w-full text-center bg-black text-white font-semibold text-base py-2.5 rounded-xl focus:outline-2 focus:outline-offset-2 focus:outline-black font-poppins hover:opacity-80 disabled:opacity-40;
}

.login-input-group {
  @apply space-y-[6px];
}

.login-input-group label {
  @apply text-gray-dark text-sm font-medium block;
}

.login-input-group label span {
  @apply text-red;
}

.login-input-group input {
  @apply border rounded-lg border-gray-light w-full px-[14px] py-[8px] text-sm placeholder:text-gray-medium;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

.login-input-group.is-error .error {
  @apply block;
}

.login-input-group .error {
  @apply text-xs text-red hidden;
}

.mobile-navigation {
  @apply bg-white absolute bottom-0 inset-x-0 w-full z-50 pb-[10px];
  box-shadow: 0px -2px 3px 0px #dbdbdb3b;
}

.navigation-list {
  @apply flex items-start justify-between px-[24px];
}

.navigation-list li .navigation-link {
  @apply pt-2.5 flex flex-col gap-1 px-1.5 items-center text-xs font-normal text-black opacity-50 border-t border-transparent pt-[12px];
}

.navigation-list li .navigation-link.active,
.navigation-list li .navigation-link:hover {
  @apply opacity-100  border-black;
  background: linear-gradient(
    180deg,
    rgba(98, 128, 128, 0.09) 0%,
    rgba(113, 131, 131, 0) 100%
  );
}

.navigation-list li .navigation-btn {
  @apply min-w-[56px] min-h-[56px] max-w-[56px] max-h-[56px] flex items-center justify-center bg-gray-ultra-light rounded-full;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.navigation-list li .navigation-menu-list {
  @apply absolute bottom-full mb-2 left-0 flex-col gap-[12px] w-full hidden;
}

.navigation-list li .navigation-menu-list a {
  @apply bg-white rounded-lg block py-2.5 px-4 w-full block font-semibold text-sm tracking-wide;
  box-shadow: 0px 4px 16px 0px #00000040;
}

.navigation-list li.active-menu .navigation-menu-list {
  @apply flex;
}

.navigation-list li.active-menu .navigation-btn {
  @apply rotate-[223deg];
}
